<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="g3_2.open_channel_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".application.OpenChannelApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/oc_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OpenChannel"
        tools:replace="android:label">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.OpenChannel.Launcher">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".channels.ChannelActivity"
            android:label="@string/title_activity_channel"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="g3_2.open_channel_app.MainActivity" />
        </activity>
        <activity
            android:name=".chatbot.MainChatbotActivity"
            android:label="Chatbot"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="g3_2.open_channel_app.MainActivity" />
        </activity>
    </application>

</manifest>